<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title> URL Shortener - Flask & Redis</title>
	<link rel="stylesheet" href="static/css/index.css">
</head>
<body>
	<header>
		<a href="#"><h1 class="title">UrlShortener - Flask & Redis</h1></a>
	</header>

<!-- 	{% for item in urls %}
		<h4>{{item.url}}</h4>
	{% endfor %}

	{% if alias %}
		{{ alias }}
	{% endif %}
 -->
	
	<form action="/save/" method="POST" class="saveUrl">
		<input type="text" name="url" autocomplete="off" placeholder="Digite sua url" class="input">
		<input type="submit" value="GO!">
	</form>
	
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
  			{% for message in messages %}
  				<div class="success">
  					<span class="title">Feito. Copie sua url</span>
  					<textarea class="url" readonly="true">{{ message }}</textarea>
  				</div>
  			{% endfor %}
  		{% endif %}
	{% endwith %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script>
		$(document).on('focus', '.input', function(){
			$(this).val('http://');
		});

		$('.success textarea').select();
	</script>

</body>
</html>
